* {
    font-family: sans-serif, system-ui;
}

body {
    margin: 0px;
}

.sidebar {
    height: 100%;
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: black; 
    overflow-x: hidden;
}

/* The navigation menu links */
.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 1s;
}

.sidebar h1 {
    color: antiquewhite;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

.errorMessage {
    color: red;
}

#results {
    margin-top: 10px;
}

#main {
    padding: 10px;
    margin-left: 250px;
    margin-top: 20px;
}

#results table {    
    width: 100%;
    border-collapse: collapse;
    border: 2px solid green;
}

#results table td,th {
    padding: 10px;
    letter-spacing: 1px;
}